.tab,tr,th,td{
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
}
.tab{
    margin: 0 auto;
    width: 40vw;
    background-color: rgb(183, 215, 211);
}
.tab a {
    text-decoration: none;
    font-size: 1.6rem;
}
.tab a:hover{
    text-decoration: underline;
    font-size: 1.8rem;
    transition: all .2s ease-in-out;
    font-weight: bold;
}
@media only screen and (min-width: 150px) and (max-width: 600px) {
    .tab,tr,th,td{
        font-size: 1rem;
    }
    .tab a {
    font-size: 1rem;
}
.tab a:hover{
    text-decoration: underline;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    font-weight: bold;
}
  }